/* =========================== MEDIA QUERIES =========================== */

/* For Extra Small (portrait phones, less than 576px) devices */
@media (max-width: 575.98px) {
    /* header */
    .navbar-brand {font-size: 14pt;}

    header select {font-size: 11pt;}

    /* cards */
    .card {
        width: 90vw;
        margin: 3vw auto 5vw auto;
    }

    /* input boxes */
    #table,
    #unit,
    #temperature,
    #triangle,
    #bmi {width: 95vw;}

    #temperature .form-control {width: 25vw;}

    .input-box .form-control,
    .input-box p,
    .input-box .btn,
    .input-box .form-check {font-size: 12pt;}
    
    .input-box .form-select {font-size: 10pt;}

    .input-box .form-check {margin-bottom: 4vw;}

    .input-box .back-link {width: 20vw;}
}

/* For Small (landscape phones, less than 768px) devices */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* header */
    .navbar-brand {font-size: 18pt;}

    header select {font-size: 12pt;}

    /* cards */
    .card {
        width: 90vw;
        margin: 0 auto 5vw auto;
    }

    /* input boxes */
    #table {width: 80vw;}
    #unit {width: 70vw;}
    #temperature {width: 80vw;}
    #triangle {width: 75vw;}
    #bmi {width: 70vw}

    #temperature .form-control {width: 22vw;}

    .input-box .form-control,
    .input-box p,
    .input-box .btn,
    .input-box .form-check {font-size: 12pt;}

    .input-box .back-link {width: 9.8vw;}
}

/* For Medium (tablets, less than 992px) devices */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* header */
    .navbar-brand {font-size: 18pt;}

    header select {font-size: 12pt;}

    /* cards */
    section {width: 90vw;}

    .card {
        width: 45vw;
        margin-bottom: 5vw;
    }

    /* input boxes */
    #table {width: 65vw;}
    #unit {width: 50vw;}
    #temperature {width: 55vw;}
    #triangle {width: 52vw;}
    #bmi {width: 45vw}

    #temperature .form-control {width: 13vw;}

    .input-box .form-control,
    .input-box p,
    .input-box .btn,
    .input-box .form-check {font-size: 12pt;}

    .input-box .form-check,
    .input-box .form-select {font-size: 11pt;}

    .input-box .back-link {width: 7.5vw;}
}

/* For Large (desktops, less than 1200px) devices */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* header */
    .navbar-brand {font-size: 18pt;}

    header select {font-size: 11pt;}

    /* cards */
    section {width: 80vw;}

    .card {
        width: 19.5vw;
        margin-bottom: 5vw;
    }

    /* input boxes */
    #table {width: 50vw;}
    #unit {width: 40vw;}
    #temperature {width: 45vw;}
    #triangle {width: 35vw;}
    #bmi {width: 36vw}

    #temperature .form-control {width: 12vw;}

    .input-box .form-control,
    .input-box p,
    .input-box .btn {font-size: 12pt;}

    .input-box .form-check {font-size: 11pt;}

    .input-box .back-link {width: 5.5vw;}
}

/* For Extra Large devices (>= 1200px) sizes screens */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    /* header */
    .navbar-brand {font-size: 18pt;}

    header select {font-size: 11pt;}

    /* cards */
    section {width: 80vw;}

    .card {
        width: 19.5vw;
        margin-bottom: 5vw;
    }

    /* input box */
    #table {width: 50vw;}
    #unit {width: 32vw;}
    #temperature {width: 35vw;}
    #triangle {width: 30vw;}
    #bmi {width: 32vw}

    #temperature .form-control {width: 7vw;}

    .input-box .form-control,
    .input-box p,
    .input-box .btn {font-size: 12pt;}

    .input-box .form-check,
    .input-box .form-select {font-size: 11pt;}

    .input-box .back-link {width: 4.8vw;}
}

/* For Extra Extra Large devices (>= 1400px) size screens */
@media (min-width: 1400px) {
    /* header */
    .navbar-brand {font-size: 22pt;}

    header select {font-size: 12pt;}

    /* cards */
    section {width: 80vw;}

    .card {
        width: 19.5vw;
        margin-bottom: 5vw;
    }

    .card img {height: 10vw;} /* 180px */

    /* input box */
    #table {width: 35vw;}
    #unit {width: 28vw;}
    #temperature {width: 35vw;}
    #triangle {width: 25vw;}
    #bmi {width: 28vw}

    #temperature .form-control {width: 9vw;}
    #temperature .temp-op {width: 25vw;}

    .input-box .form-control,
    .input-box p,
    .input-box .btn {font-size: 14pt;}

    .input-box .form-check,
    .input-box .form-select {font-size: 11.5pt;}

    .input-box .back-link {width: 4.8vw;}
}