/* =========================== MEDIA QUERIES =========================== */

/* For Extra Small (portrait phones, less than 576px) devices */
@media (max-width: 575.98px) {
    /* header */
    .navbar-brand {font-size: 14pt;}

    select {font-size: 11pt;}

    /* cards */
    .card {
        width: 90vw;
        margin: 3vw auto 5vw auto;
    }

    /* input boxes */
    .input-box {width: 95%;}

    .input-box .form-control,
    .input-box p,
    .input-box .btn {font-size: 12pt;}
}

/* For Small (landscape phones, less than 768px) devices */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* header */
    .navbar-brand {font-size: 18pt;}

    select {font-size: 12pt;}

    /* cards */
    .card {
        width: 90vw;
        margin: 0 auto 5vw auto;
    }

    /* input boxes */
    .input-box {width: 80%;}

    .input-box .form-control,
    .input-box p,
    .input-box .btn {font-size: 12pt;}
}

/* For Medium (tablets, less than 992px) devices */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* header */
    .navbar-brand {font-size: 18pt;}

    select {font-size: 12pt;}

    /* cards */
    section {width: 90vw;}

    .card {
        width: 45vw;
        margin-bottom: 5vw;
    }

    /* input boxes */
    .input-box {width: 60%;}

    .input-box .form-control,
    .input-box p,
    .input-box .btn {font-size: 12pt;}
}

/* For Large (desktops, less than 1200px) devices */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* header */
    .navbar-brand {font-size: 18pt;}

    select {font-size: 11pt;}

    /* cards */
    section {width: 80vw;}

    .card {
        width: 19.5vw;
        margin-bottom: 5vw;
    }

    /* input boxes */
    .input-box {width: 48%;}

    .input-box .form-control,
    .input-box p,
    .input-box .btn {font-size: 11pt;}
}

/* For Extra Large devices (>= 1200px) sizes screens */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    /* header */
    .navbar-brand {font-size: 18pt;}

    select {font-size: 11pt;}

    /* cards */
    section {width: 80vw;}

    .card {
        width: 19.5vw;
        margin-bottom: 5vw;
    }

    /* input boxes */
    .input-box {width: 40%;}

    .input-box .form-control,
    .input-box p,
    .input-box .btn {font-size: 12pt;}
}

/* For Extra Extra Large devices (>= 1400px) size screens */
@media (min-width: 1400px) {
    /* header */
    .navbar-brand {font-size: 22pt;}

    select {font-size: 12pt;}

    /* cards */
    section {width: 80vw;}

    .card {
        width: 19.5vw;
        margin-bottom: 5vw;
    }

    /* input boxes */
    .input-box {width: 32%;}

    .input-box .form-control,
    .input-box p,
    .input-box .btn {font-size: 14pt;}
}