body {background: #fae2b4;}

/* Header */
header {background-color: #64C5AA;}

.navbar-brand {font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;}

select {cursor: pointer;}

header select {
    background-color: #4ead92;
    border-color: #555555
}
header select option {background-color: #338870;}
header select:hover {background-color: #45a58a;}
header select:focus {border-color: none;}

/* Cards */
.card {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    transition: all .4s;
}
.card:hover {border-color: skyblue;}

/* Input boxes */
/* #table, #unit, #temperature {display: none;} */

.input-box {background-color: #fdd386;}

/* Labels */
.input-box .text {text-shadow: 0 0 6px #00000077;}
/* Fields */
.input-box .form-control {transition: all .3s;}
.input-box .form-control:hover {box-shadow: 0 0 0 4px #00000031;}
.input-box .form-control::placeholder {color: #b1b1b1;}
/* Checkboxes */
.input-box .form-check-input,
.input-box .form-check-label {cursor: pointer}
/* Button to back */
.input-box .back-link {
    cursor: pointer;
    color: #2295d8;
}
.input-box .back-link:hover {color: #32baf0;}