body {background: #fae2b4;}

/* Header */
header {background-color: #64C5AA;}

.navbar-brand {font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;}

select {
    cursor: pointer;
    background-color: #4ead92;
    border-color: #7c7c7c
}
select option {background-color: #338870;}
select:hover {background-color: #45a58a;}
select:focus {border-color: none;}

/* Cards */
.card {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    transition: all .4s;
}
.card:hover {border-color: skyblue;}

/* Input boxes */
#input_box {background-color: #fdd386;}

#input_box .label {text-shadow: 0 0 6px #00000077;}

#input_box .form-control {transition: all .3s;}
#input_box .form-control:hover {box-shadow: 0 0 0 4px #00000031;}
#input_box .form-control::placeholder {color: #b1b1b1;}

#input_box .form-check-input,
#input_box .form-check-label {cursor: pointer}