/* Header */
header {background-color: #64C5AA;}

.navbar-brand {font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;}

header select {
    cursor: pointer;
    background-color: #4ead92;
    border-color: #7c7c7c
}

.navbar-toggler {background-color: #4ead92;}
header select:focus {border-color: none;}

header select option {
    background-color: whitesmoke;
    color: black;
}